/* Form Section */

.form-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
  }
  
  #name{
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  #name:hover{
    border: 2px solid #91ADC2
  }
  
  #name:focus{
    outline: 2px solid #91ADC2 ;
  }
  
  #submit{
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #91ADC2 0%, #A9DDD6 50%, #A9DDD6 100%);
    transition: all .4s;
  }
  
  #submit:hover{
    background-position: right center;
  }


  @media screen and (min-width: 768px) {
    
  }